.recipes {
  margin-top: 40px;
}
.header {
  text-align: center;
  margin-bottom: 40px;
}
.header h1 {
  color: darkred;
  font-size: 40px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.filter {
  padding: 8px 25px;
  border-radius: 20px;
  border: 2px solid gold;
  background: white;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}
.filter:hover,
.filter.active {
  background: linear-gradient(to right, orange, red);
  color: white;
}

.recipeCard {
  background: white;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px lightgray;
  overflow: hidden;
  transition: transform 0.3s;
}
.recipeCard:hover {
  transform: translateY(-5px);
}
